# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/passwordutil/passwordutil_test.go
/transportutil/conf
/transportutil/log
/grpcutil/cert
/.vscode
/whyall.txt
/graph.txt
/update_all_mod.bat
/badgedb/badgerdb/*.sst
/badgedb/badgerdb/*.vlog
/badgedb/badgerdb/DISCARD
/badgedb/badgerdb/*.sst
/badgedb/badgerdb/KEYREGISTRY
/badgedb/badgerdb/MANIFEST
