# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/.idea
/.vscode
/transportutil/conf
/transportutil/log
/grpcutil/cert
/whyall.txt
/graph.txt
/update_all_mod.bat
/badgedb/badgerdb/*.sst
/badgedb/badgerdb/*.vlog
/badgedb/badgerdb/DISCARD
/badgedb/badgerdb/*.sst
/badgedb/badgerdb/KEYREGISTRY
/badgedb/badgerdb/MANIFEST
/badgedb/badgerdb/*.sst
/badgedb/badgerdb/*.vlog
/ginsession/log/*.log
